<h2>Login</h2>
<form id="loginForm">
  <label for="">User</label>
  <input type="text" name="nick_name">

  <label for="">PassWord</label>
  <input type="text" name="password">

  <button type="submit">Login</button>
</form>

<script src=""></script>