<h2> Sing Up </h2>
<form id="singUpForm">
  <label for="">Nick Name</label>
  <input type="text" name="nickName">

  <label for="">Email</label>
  <input type="email" name="email">

  <label for="">Password</label>
  <input type="text" name="password">

  <button type="submit">Sing Up</button>
</form>

<script src=""></script>